openapi: 3.1.0
servers:
  - url: https://gen.pollinations.ai
info:
  title: Pollinations API
  description: >-
    ## Introduction


    Generate text, images, video, and audio with a single API. OpenAI-compatible
    — use any OpenAI SDK by changing the base URL.


    **Base URL:** `https://gen.pollinations.ai`


    **Get your API key:** [enter.pollinations.ai](https://enter.pollinations.ai)


    ## Overview


    | | Capability | Endpoint | Format |

    |---|---|---|---|

    | ✍️ | **Text Generation** | `POST /v1/chat/completions` | OpenAI-compatible
    |

    | ✍️ | **Simple Text** | `GET /text/{prompt}` | Plain text |

    | 🖼️ | **Image Generation** | `GET /image/{prompt}` | JPEG / PNG |

    | 🎬 | **Video Generation** | `GET /video/{prompt}` | MP4 |

    | 🔊 | **Text-to-Speech** | `GET /audio/{text}` | MP3 |

    | 🔊 | **Music Generation** | `GET /audio/{text}` | MP3 |

    | 🔊 | **Transcription** | `POST /v1/audio/transcriptions` | JSON |

    | 🤖 | **Model Discovery** | `GET /v1/models` | JSON |


    ## Quick Start


    ### Generate an Image


    Paste this URL in your browser — no code needed:


    ```

    https://gen.pollinations.ai/image/a%20cat%20in%20space

    ```


    Or use it directly in HTML:


    ```html

    <img src="https://gen.pollinations.ai/image/a%20cat%20in%20space" />

    ```


    ### Generate Text (OpenAI-compatible)


    ```bash

    curl https://gen.pollinations.ai/v1/chat/completions \
      -H "Authorization: Bearer YOUR_API_KEY" \
      -H "Content-Type: application/json" \
      -d '{"model": "openai", "messages": [{"role": "user", "content": "Hello!"}]}'
    ```


    ### Generate Speech


    ```bash

    curl "https://gen.pollinations.ai/audio/Hello%20world?voice=nova" \
      -H "Authorization: Bearer YOUR_API_KEY" -o speech.mp3
    ```


    ## 🔐 Authentication


    All generation requests require an API key from
    [enter.pollinations.ai](https://enter.pollinations.ai). Model listing
    endpoints work without authentication.


    **Two key types:**


    | Type | Prefix | Use case | Rate limits |

    |------|--------|----------|-------------|

    | Secret | `sk_` | Server-side apps | None |

    | Publishable | `pk_` | Client-side apps (beta) | 1 pollen/IP/hour |


    **How to authenticate:**


    ```bash

    # Option 1: Authorization header (recommended)

    curl -H "Authorization: Bearer YOUR_API_KEY" ...


    # Option 2: Query parameter

    curl "https://gen.pollinations.ai/text/hello?key=YOUR_API_KEY"

    ```


    > **Warning:** Never expose secret keys (`sk_`) in client-side code. Use
    publishable keys (`pk_`) for frontend apps.


    ## ❌ Errors


    All errors return JSON with a consistent format:


    ```json

    {
      "status": 400,
      "success": false,
      "error": {
        "code": "BAD_REQUEST",
        "message": "Description of what went wrong"
      }
    }

    ```


    | Status | Meaning |

    |--------|---------|

    | `400` | Invalid parameters or malformed request |

    | `401` | Missing or invalid API key |

    | `402` | Insufficient pollen balance |

    | `403` | API key lacks required permission |

    | `500` | Internal server error |
  version: 0.3.0
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: API key from [enter.pollinations.ai](https://enter.pollinations.ai)
  schemas:
    ErrorDetails:
      type: object
      properties:
        name:
          type: string
        stack:
          type: string
      required:
        - name
    CacheControl:
      type: object
      properties:
        type:
          type: string
          enum:
            - ephemeral
      required:
        - type
    ContentFilterSeverity:
      type: string
      enum:
        - safe
        - low
        - medium
        - high
    ContentFilterResult:
      type: object
      properties:
        hate:
          type: object
          properties:
            filtered:
              type: boolean
            severity:
              $ref: "#/components/schemas/ContentFilterSeverity"
          required:
            - filtered
            - severity
        self_harm:
          type: object
          properties:
            filtered:
              type: boolean
            severity:
              $ref: "#/components/schemas/ContentFilterSeverity"
          required:
            - filtered
            - severity
        sexual:
          type: object
          properties:
            filtered:
              type: boolean
            severity:
              $ref: "#/components/schemas/ContentFilterSeverity"
          required:
            - filtered
            - severity
        violence:
          type: object
          properties:
            filtered:
              type: boolean
            severity:
              $ref: "#/components/schemas/ContentFilterSeverity"
          required:
            - filtered
            - severity
        jailbreak:
          type: object
          properties:
            filtered:
              type: boolean
            detected:
              type: boolean
          required:
            - filtered
            - detected
        protected_material_text:
          type: object
          properties:
            filtered:
              type: boolean
            detected:
              type: boolean
          required:
            - filtered
            - detected
        protected_material_code:
          type: object
          properties:
            filtered:
              type: boolean
            detected:
              type: boolean
          required:
            - filtered
            - detected
    CompletionUsage:
      type: object
      properties:
        completion_tokens:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        completion_tokens_details:
          anyOf:
            - type: object
              properties:
                accepted_prediction_tokens:
                  type: integer
                  minimum: 0
                  maximum: 9007199254740991
                audio_tokens:
                  type: integer
                  minimum: 0
                  maximum: 9007199254740991
                reasoning_tokens:
                  type: integer
                  minimum: 0
                  maximum: 9007199254740991
                rejected_prediction_tokens:
                  type: integer
                  minimum: 0
                  maximum: 9007199254740991
            - type: "null"
        prompt_tokens:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        prompt_tokens_details:
          anyOf:
            - type: object
              properties:
                audio_tokens:
                  type: integer
                  minimum: 0
                  maximum: 9007199254740991
                cached_tokens:
                  type: integer
                  minimum: 0
                  maximum: 9007199254740991
            - type: "null"
        total_tokens:
          type: integer
          minimum: 0
          maximum: 9007199254740991
      required:
        - completion_tokens
        - prompt_tokens
        - total_tokens
    ValidationErrorDetails:
      type: object
      properties:
        name:
          type: string
        stack:
          type: string
        formErrors:
          type: array
          items:
            type: string
        fieldErrors:
          type: object
          propertyNames:
            type: string
          additionalProperties:
            type: array
            items:
              type: string
      required:
        - name
        - formErrors
        - fieldErrors
    MessageContentPart:
      anyOf:
        - type: object
          properties:
            type:
              type: string
              const: text
            text:
              type: string
            cache_control:
              $ref: "#/components/schemas/CacheControl"
          required:
            - type
            - text
        - type: object
          properties:
            type:
              type: string
              const: image_url
            image_url:
              type: object
              properties:
                url:
                  type: string
                detail:
                  type: string
                  enum:
                    - auto
                    - low
                    - high
                mime_type:
                  type: string
              required:
                - url
          required:
            - type
            - image_url
        - type: object
          properties:
            type:
              type: string
              const: video_url
            video_url:
              type: object
              properties:
                url:
                  type: string
                mime_type:
                  type: string
              required:
                - url
          required:
            - type
            - video_url
        - type: object
          properties:
            type:
              type: string
              const: input_audio
            input_audio:
              type: object
              properties:
                data:
                  type: string
                format:
                  type: string
                  enum:
                    - wav
                    - mp3
                    - flac
                    - opus
                    - pcm16
              required:
                - data
                - format
            cache_control:
              $ref: "#/components/schemas/CacheControl"
          required:
            - type
            - input_audio
        - type: object
          properties:
            type:
              type: string
              const: file
            file:
              type: object
              properties:
                file_data:
                  type: string
                file_id:
                  type: string
                file_name:
                  type: string
                file_url:
                  type: string
                mime_type:
                  type: string
            cache_control:
              $ref: "#/components/schemas/CacheControl"
          required:
            - type
            - file
        - type: object
          properties:
            type:
              type: string
          required:
            - type
          additionalProperties: {}
    CreateSpeechRequest:
      type: object
      properties:
        model:
          type: string
        input:
          type: string
          minLength: 1
          maxLength: 4096
          description: The text to generate audio for. Maximum 4096 characters.
          example: Hello, welcome to Pollinations!
        voice:
          default: alloy
          description: The voice to use. Can be any preset name (alloy, echo, fable, onyx,
            nova, shimmer, ash, ballad, coral, sage, verse, rachel, domi, bella,
            elli, charlotte, dorothy, sarah, emily, lily, matilda, adam, antoni,
            arnold, josh, sam, daniel, charlie, james, fin, callum, liam,
            george, brian, bill) OR a custom ElevenLabs voice ID (UUID from your
            dashboard).
          example: rachel
          type: string
        response_format:
          default: mp3
          description: The audio format for the output.
          example: mp3
          type: string
          enum:
            - mp3
            - opus
            - aac
            - flac
            - wav
            - pcm
        speed:
          default: 1
          description: The speed of the generated audio. 0.25 to 4.0, default 1.0.
          example: 1
          type: number
          minimum: 0.25
          maximum: 4
        duration:
          description: Music duration in seconds, 3-300 (elevenmusic only)
          example: 30
          type: number
          minimum: 3
          maximum: 300
        instrumental:
          description: If true, guarantees instrumental output (elevenmusic only)
          example: false
          type: boolean
      required:
        - input
security:
  - bearerAuth: []
tags:
  - name: ✍️ Text Generation
    description: >-
      Generate text responses using AI models. Fully compatible with the [OpenAI
      Chat Completions API](https://platform.openai.com/docs/api-reference/chat)
      — use any OpenAI SDK by changing the base URL.


      | Endpoint | Best for |

      |----------|----------|

      | `POST /v1/chat/completions` | Full OpenAI compatibility — streaming,
      tools, vision, structured outputs |

      | `GET /text/{prompt}` | Quick prototyping — simple GET, returns plain
      text |


      **Capabilities vary by model:** streaming, function calling, vision,
      structured JSON, reasoning, web search. See
      [`/text/models`](https://gen.pollinations.ai/text/models) for per-model
      details.
  - name: 🖼️ Image Generation
    description: >-
      Generate images from text prompts via a simple GET request. Returns JPEG
      or PNG.


      **Quick start** — paste in your browser, no code needed:


      ```

      https://gen.pollinations.ai/image/a%20cat%20in%20space?model=flux

      ```


      **Available models:** kontext, nanobanana, nanobanana-pro, seedream,
      seedream-pro, gptimage, gptimage-large, flux, zimage, klein, klein-large,
      imagen-4, grok-imagine


      **Key parameters:** `model`, `width`, `height`, `seed`, `enhance`,
      `negative_prompt`, `image` (for editing), `quality`, `transparent`
  - name: 🎬 Video Generation
    description: >-
      Generate videos from text prompts or reference images. Returns MP4.


      ```

      https://gen.pollinations.ai/video/sunset%20timelapse?model=veo&duration=4

      ```


      **Available models:** veo, seedance, seedance-pro, wan, grok-video, ltx-2


      **Video parameters:** `duration` (seconds), `aspectRatio` (`16:9` or
      `9:16`), `audio` (enable soundtrack), `image` (reference frames)
  - name: 🔊 Audio Generation
    description: >-
      Text-to-speech, music generation, and audio transcription.


      | Endpoint | Description |

      |----------|-------------|

      | `GET /audio/{text}` | Simple URL-based TTS or music generation |

      | `POST /v1/audio/speech` | OpenAI-compatible TTS |

      | `POST /v1/audio/transcriptions` | Speech-to-text transcription |


      **Available voices:** alloy, echo, fable, onyx, nova, shimmer, ash,
      ballad, coral, sage, verse, rachel, domi, bella, elli, charlotte, dorothy,
      sarah, emily, lily, matilda, adam, antoni, arnold, josh, sam, daniel,
      charlie, james, fin, callum, liam, george, brian, bill
  - name: 🤖 Models
    description: >-
      Discover available models with pricing, capabilities, and metadata. **No
      authentication required.**


      | Endpoint | Returns |

      |----------|---------|

      | `GET /v1/models` | Text models in OpenAI format (`{object: "list", data:
      [...]}`) |

      | `GET /text/models` | Text models with pricing, context window, tool
      support |

      | `GET /image/models` | Image & video models with capabilities and pricing
      |

      | `GET /audio/models` | Audio models with supported voices |
  - name: 👤 Account
    description: >-
      Manage your account, check your pollen balance, and view usage history.
      All endpoints require authentication.


      | Endpoint | Description |

      |----------|-------------|

      | `GET /account/profile` | Name, email, tier, creation date |

      | `GET /account/balance` | Current pollen balance |

      | `GET /account/usage` | Per-request history with costs |

      | `GET /account/usage/daily` | Daily aggregated usage for dashboards |

      | `GET /account/key` | API key validity, type, and permissions |


      When using API keys, specific permissions may be required (e.g.,
      `account:balance`, `account:usage`).
  - name: 📦 Media Storage
    description: >-
      Content-addressed media storage. Upload and retrieve images, audio, and
      video by content hash.


      | Endpoint | Description |

      |----------|-------------|

      | `POST /upload` | Upload a file, receive a content-addressed URL |

      | `GET /{hash}` | Retrieve a previously uploaded file |

      | `GET /{hash}/metadata` | Get file metadata (size, type, dimensions) |


      **Base URL:** [media.pollinations.ai](https://media.pollinations.ai)
  - name: 🌸 Bring Your Own Pollen
    description: |-
      # Bring Your Own Pollen (BYOP) 🌸

      Users pay for their own AI usage. You pay $0. Ship apps without API costs.

      ## The Flow

      1. User taps "Connect with Pollinations"
      2. They sign in → get a temp API key
      3. Their pollen, your app

      ## Why BYOP?

      - **$0 costs** — 1 user or 1000, same price: free
      - **No key drama** — auth flow handles it
      - **Self-regulating** — everyone pays for their own usage
      - **Frontend only** — no backend needed

      ![Authorize Screen](https://raw.githubusercontent.com/pollinations/pollinations/main/enter.pollinations.ai/public/authorize-screen.png)

      ## URLs

      Say your app is at `https://myapp.com`

      **Auth link:**
      ```
      https://enter.pollinations.ai/authorize?redirect_url=https://myapp.com
      ```

      **With preselected options:**
      ```
      https://enter.pollinations.ai/authorize?redirect_url=https://myapp.com&permissions=profile,balance&models=flux,openai&expiry=7&budget=10
      ```

      | Param | Description | Example |
      |-------|-------------|---------|
      | `models` | Allowed models (comma-separated) | `flux,openai,gptimage` |
      | `budget` | Pollen budget limit | `10` |
      | `expiry` | Key expiry in days (default: 30) | `7` |
      | `permissions` | Account permissions | `profile,balance,usage` |

      **Redirect back:**
      ```
      https://myapp.com#api_key=sk_abc123xyz
      ```

      > Key is in the `#` fragment — never hits server logs 🔒

      ## Code

      ```javascript
      // 1. Send user to auth
      window.location.href = `https://enter.pollinations.ai/authorize?redirect_url=${encodeURIComponent(location.href)}`;

      // 2. Grab key from URL after redirect
      const apiKey = new URLSearchParams(location.hash.slice(1)).get('api_key');

      // 3. Use their pollen
      fetch('https://gen.pollinations.ai/v1/chat/completions', {
        method: 'POST',
        headers: { 'Authorization': `Bearer ${apiKey}`, 'Content-Type': 'application/json' },
        body: JSON.stringify({ model: 'openai', messages: [{ role: 'user', content: 'yo' }] })
      });
      ```

      Keys expire in 30 days · revoke anytime from dashboard

      ---

      [📝 Edit this doc](https://github.com/pollinations/pollinations/edit/main/BRING_YOUR_OWN_POLLEN.md) · *h/t [Puter.js](https://docs.puter.com/user-pays-model/) for pioneering this*
paths:
  /account/profile:
    get:
      operationId: getAccountProfile
      tags:
        - 👤 Account
      summary: Get Profile
      description: Returns your account profile including name, email, tier level, and
        account creation date. Requires `account:profile` permission when using
        API keys.
      responses:
        "200":
          description: User profile
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    anyOf:
                      - type: string
                      - type: "null"
                    description: User's display name
                  email:
                    anyOf:
                      - type: string
                        format: email
                        pattern: ^(?!\.)(?!.*\.\.)([A-Za-z0-9_'+\-\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\-]*\.)+[A-Za-z]{2,}$
                      - type: "null"
                    description: User's email address
                  githubUsername:
                    anyOf:
                      - type: string
                      - type: "null"
                    description: GitHub username if linked
                  image:
                    anyOf:
                      - type: string
                      - type: "null"
                    description: Profile picture URL (e.g. GitHub avatar)
                  tier:
                    type: string
                    enum:
                      - anonymous
                      - microbe
                      - spore
                      - seed
                      - flower
                      - nectar
                      - router
                    description: User's current tier level
                  createdAt:
                    type: string
                    format: date-time
                    pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                    description: Account creation timestamp (ISO 8601)
                  nextResetAt:
                    anyOf:
                      - type: string
                        format: date-time
                        pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                      - type: "null"
                    description: Next daily pollen reset timestamp (ISO 8601)
                required:
                  - name
                  - email
                  - githubUsername
                  - image
                  - tier
                  - createdAt
                  - nextResetAt
              example:
                name: Jane Developer
                email: jane@example.com
                image: https://avatars.example.com/jane.jpg
                tier: seed
                displayTier: Seed
                createdAt: 2024-01-15T10:30:00.000Z
                nextResetAt: 2024-02-15T00:00:00.000Z
        "401":
          description: Unauthorized
        "403":
          description: Permission denied - API key missing `account:profile` permission
      x-codeSamples:
        - label: cURL
          lang: Shell
          source: |-
            curl https://gen.pollinations.ai/account/profile \
              -H "Authorization: Bearer YOUR_API_KEY"
        - label: Python
          lang: Python
          source: |-
            import requests

            response = requests.get(
                "https://gen.pollinations.ai/account/profile",
                headers={"Authorization": "Bearer YOUR_API_KEY"},
            )
            profile = response.json()
            print(f"{profile['name']} ({profile['tier']})")
        - label: JavaScript
          lang: JavaScript
          source: |-
            const response = await fetch(
              "https://gen.pollinations.ai/account/profile",
              { headers: { Authorization: "Bearer YOUR_API_KEY" } },
            );
            const profile = await response.json();
            console.log(`${profile.name} (${profile.tier})`);
  /account/balance:
    get:
      operationId: getAccountBalance
      tags:
        - 👤 Account
      summary: Get Balance
      description: Returns your current pollen balance. If the API key has a budget
        limit, returns the key's remaining budget instead. Requires
        `account:balance` permission when using API keys.
      responses:
        "200":
          description: Pollen balance
          content:
            application/json:
              schema:
                type: object
                properties:
                  balance:
                    type: number
                    description: Remaining pollen balance (combines tier, pack, and crypto balances)
                required:
                  - balance
              example:
                balance: 42.5
        "401":
          description: Unauthorized
        "403":
          description: Permission denied - API key missing `account:balance` permission
      x-codeSamples:
        - label: cURL
          lang: Shell
          source: |-
            curl https://gen.pollinations.ai/account/balance \
              -H "Authorization: Bearer YOUR_API_KEY"
        - label: Python
          lang: Python
          source: |-
            import requests

            response = requests.get(
                "https://gen.pollinations.ai/account/balance",
                headers={"Authorization": "Bearer YOUR_API_KEY"},
            )
            print(response.json())  # {"balance": 42.5}
        - label: JavaScript
          lang: JavaScript
          source: |-
            const response = await fetch(
              "https://gen.pollinations.ai/account/balance",
              { headers: { Authorization: "Bearer YOUR_API_KEY" } },
            );
            const { balance } = await response.json();
            console.log(balance);
  /account/usage:
    get:
      operationId: getAccountUsage
      tags:
        - 👤 Account
      summary: Get Usage History
      description: "Returns your request history with per-request details: model used,
        token counts, cost, and response time. Supports JSON and CSV export. Use
        `before` for cursor-based pagination. Requires `account:usage`
        permission when using API keys."
      responses:
        "200":
          description: Usage records
          content:
            application/json:
              schema:
                type: object
                properties:
                  usage:
                    type: array
                    items:
                      type: object
                      properties:
                        timestamp:
                          type: string
                          description: Request timestamp (YYYY-MM-DD HH:mm:ss format)
                        type:
                          type: string
                          description: Request type (e.g., 'generate.image', 'generate.text')
                        model:
                          anyOf:
                            - type: string
                            - type: "null"
                          description: Model used for generation
                        api_key:
                          anyOf:
                            - type: string
                            - type: "null"
                          description: API key identifier used (masked)
                        api_key_type:
                          anyOf:
                            - type: string
                            - type: "null"
                          description: Type of API key ('secret', 'publishable')
                        meter_source:
                          anyOf:
                            - type: string
                            - type: "null"
                          description: Billing source ('tier', 'pack', 'crypto')
                        input_text_tokens:
                          type: number
                          description: Number of input text tokens
                        input_cached_tokens:
                          type: number
                          description: Number of cached input tokens
                        input_audio_tokens:
                          type: number
                          description: Number of input audio tokens
                        input_image_tokens:
                          type: number
                          description: Number of input image tokens
                        output_text_tokens:
                          type: number
                          description: Number of output text tokens
                        output_reasoning_tokens:
                          type: number
                          description: Number of reasoning tokens (for models with chain-of-thought)
                        output_audio_tokens:
                          type: number
                          description: Number of output audio tokens
                        output_image_tokens:
                          type: number
                          description: Number of output image tokens (1 per image)
                        cost_usd:
                          type: number
                          description: Cost in USD for this request
                        response_time_ms:
                          anyOf:
                            - type: number
                            - type: "null"
                          description: Response time in milliseconds
                      required:
                        - timestamp
                        - type
                        - model
                        - api_key
                        - api_key_type
                        - meter_source
                        - input_text_tokens
                        - input_cached_tokens
                        - input_audio_tokens
                        - input_image_tokens
                        - output_text_tokens
                        - output_reasoning_tokens
                        - output_audio_tokens
                        - output_image_tokens
                        - cost_usd
                        - response_time_ms
                    description: Array of usage records
                  count:
                    type: number
                    description: Number of records returned
                required:
                  - usage
                  - count
        "401":
          description: Unauthorized
        "403":
          description: Permission denied - API key missing `account:usage` permission
      parameters:
        - in: query
          name: format
          schema:
            default: json
            type: string
            enum:
              - json
              - csv
        - in: query
          name: limit
          schema:
            default: 100
            type: number
            minimum: 1
            maximum: 50000
        - in: query
          name: before
          schema:
            type: string
      x-codeSamples:
        - label: cURL
          lang: Shell
          source: >-
            # Get usage history (JSON)

            curl "https://gen.pollinations.ai/account/usage?limit=10" \
              -H "Authorization: Bearer YOUR_API_KEY"

            # Export as CSV

            curl
            "https://gen.pollinations.ai/account/usage?format=csv&limit=100" \
              -H "Authorization: Bearer YOUR_API_KEY" -o usage.csv
        - label: Python
          lang: Python
          source: |-
            import requests

            response = requests.get(
                "https://gen.pollinations.ai/account/usage",
                params={"limit": 10},
                headers={"Authorization": "Bearer YOUR_API_KEY"},
            )
            for record in response.json()["data"]:
                print(f"{record['model']}: {record['cost']} pollen")
  /account/usage/daily:
    get:
      operationId: getAccountUsageDaily
      tags:
        - 👤 Account
      summary: Get Daily Usage
      description: Returns daily aggregated usage for the last 90 days, grouped by
        date and model. Useful for dashboards and spending analysis. Supports
        JSON and CSV export. Results are cached for 1 hour. Requires
        `account:usage` permission when using API keys.
      responses:
        "200":
          description: Daily usage records aggregated by date/model
          content:
            application/json:
              schema:
                type: object
                properties:
                  usage:
                    type: array
                    items:
                      type: object
                      properties:
                        date:
                          type: string
                          description: Date (YYYY-MM-DD format)
                        model:
                          anyOf:
                            - type: string
                            - type: "null"
                          description: Model used
                        meter_source:
                          anyOf:
                            - type: string
                            - type: "null"
                          description: Billing source ('tier', 'pack', 'crypto')
                        requests:
                          type: number
                          description: Number of requests
                        cost_usd:
                          type: number
                          description: Total cost in USD
                      required:
                        - date
                        - model
                        - meter_source
                        - requests
                        - cost_usd
                    description: Array of daily usage records
                  count:
                    type: number
                    description: Number of records returned
                required:
                  - usage
                  - count
        "401":
          description: Unauthorized
        "403":
          description: Permission denied - API key missing `account:usage` permission
      parameters:
        - in: query
          name: format
          schema:
            default: json
            type: string
            enum:
              - json
              - csv
      x-codeSamples:
        - label: cURL
          lang: Shell
          source: |-
            curl "https://gen.pollinations.ai/account/usage/daily?days=30" \
              -H "Authorization: Bearer YOUR_API_KEY"
  /account/key:
    get:
      operationId: getAccountKey
      tags:
        - 👤 Account
      summary: Get API Key Info
      description: "Returns information about the API key used in the request:
        validity, type (secret/publishable), expiry, permissions, and remaining
        budget. Useful for validating keys without making generation requests."
      responses:
        "200":
          description: API key status and information
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
                    description: Whether the API key is valid and active
                  type:
                    type: string
                    enum:
                      - publishable
                      - secret
                    description: Type of API key
                  name:
                    anyOf:
                      - type: string
                      - type: "null"
                    description: Display name of the API key
                  expiresAt:
                    anyOf:
                      - type: string
                      - type: "null"
                    description: Expiry timestamp in ISO 8601 format, null if never expires
                  expiresIn:
                    anyOf:
                      - type: number
                      - type: "null"
                    description: Seconds until expiry, null if never expires
                  permissions:
                    type: object
                    properties:
                      models:
                        anyOf:
                          - type: array
                            items:
                              type: string
                          - type: "null"
                        description: List of allowed model IDs, null = all models allowed
                      account:
                        anyOf:
                          - type: array
                            items:
                              type: string
                          - type: "null"
                        description: List of account permissions, null = no account access
                    required:
                      - models
                      - account
                    description: API key permissions
                  pollenBudget:
                    anyOf:
                      - type: number
                      - type: "null"
                    description: Remaining pollen budget for this key, null = unlimited (uses user
                      balance)
                  rateLimitEnabled:
                    type: boolean
                    description: Whether rate limiting is enabled for this key
                required:
                  - valid
                  - type
                  - name
                  - expiresAt
                  - expiresIn
                  - permissions
                  - pollenBudget
                  - rateLimitEnabled
              example:
                valid: true
                type: secret
                prefix: sk_
                expiresAt: null
                permissions:
                  - generate:text
                  - generate:image
                  - generate:audio
                  - account:balance
                  - account:usage
                pollenBudget: null
                rateLimitEnabled: false
        "401":
          description: Invalid or missing API key
      x-codeSamples:
        - label: cURL
          lang: Shell
          source: |-
            curl https://gen.pollinations.ai/account/key \
              -H "Authorization: Bearer YOUR_API_KEY"
        - label: Python
          lang: Python
          source: |-
            import requests

            response = requests.get(
                "https://gen.pollinations.ai/account/key",
                headers={"Authorization": "Bearer YOUR_API_KEY"},
            )
            key_info = response.json()
            print(f"Valid: {key_info['valid']}, Type: {key_info['type']}")
        - label: JavaScript
          lang: JavaScript
          source: |-
            const response = await fetch(
              "https://gen.pollinations.ai/account/key",
              { headers: { Authorization: "Bearer YOUR_API_KEY" } },
            );
            const keyInfo = await response.json();
            console.log(`Valid: ${keyInfo.valid}, Type: ${keyInfo.type}`);
  /v1/models:
    get:
      operationId: getGenerateV1Models
      tags:
        - 🤖 Models
      summary: List Text Models (OpenAI-compatible)
      description: "Returns available text models in the OpenAI-compatible format
        (`{object: \"list\", data: [...]}`). Use this endpoint if you're using
        an OpenAI SDK. For richer metadata including pricing and capabilities,
        use `/text/models` instead."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    const: list
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        object:
                          type: string
                          const: model
                        created:
                          type: number
                      required:
                        - id
                        - object
                        - created
                      description: OpenAI-compatible model object
                required:
                  - object
                  - data
                description: OpenAI-compatible list of available models.
              example:
                object: list
                data:
                  - id: openai
                    object: model
                    created: 1700000000
                    owned_by: pollinations
                  - id: claude
                    object: model
                    created: 1700000000
                    owned_by: pollinations
                  - id: gemini
                    object: model
                    created: 1700000000
                    owned_by: pollinations
        "500":
          description: Oh snap, something went wrong on our end. We're on it!
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    const: 500
                  success:
                    type: boolean
                    const: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        const: INTERNAL_ERROR
                      message:
                        anyOf:
                          - type: string
                            const: Oh snap, something went wrong on our end. We're on it!
                          - type: string
                      timestamp:
                        type: string
                      details:
                        $ref: "#/components/schemas/ErrorDetails"
                      requestId:
                        type: string
                      cause: {}
                    required:
                      - code
                      - message
                      - timestamp
                      - details
                required:
                  - status
                  - success
                  - error
      x-codeSamples:
        - label: cURL
          lang: Shell
          source: curl https://gen.pollinations.ai/v1/models
        - label: Python
          lang: Python
          source: |-
            from openai import OpenAI

            client = OpenAI(
                base_url="https://gen.pollinations.ai",
                api_key="YOUR_API_KEY",
            )

            models = client.models.list()
            for model in models.data:
                print(model.id)
        - label: JavaScript
          lang: JavaScript
          source: |-
            import OpenAI from "openai";

            const client = new OpenAI({
              baseURL: "https://gen.pollinations.ai",
              apiKey: "YOUR_API_KEY",
            });

            const models = await client.models.list();
            models.data.forEach((m) => console.log(m.id));
  /image/models:
    get:
      operationId: getGenerateImageModels
      tags:
        - 🤖 Models
      summary: List Image & Video Models
      description: Returns all available image and video generation models with
        pricing, capabilities, and metadata. Video models are included here —
        check the `outputModalities` field to distinguish image vs video models.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items: {}
                description: List of models with pricing and metadata
        "500":
          description: Oh snap, something went wrong on our end. We're on it!
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    const: 500
                  success:
                    type: boolean
                    const: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        const: INTERNAL_ERROR
                      message:
                        anyOf:
                          - type: string
                            const: Oh snap, something went wrong on our end. We're on it!
                          - type: string
                      timestamp:
                        type: string
                      details:
                        $ref: "#/components/schemas/ErrorDetails"
                      requestId:
                        type: string
                      cause: {}
                    required:
                      - code
                      - message
                      - timestamp
                      - details
                required:
                  - status
                  - success
                  - error
      x-codeSamples:
        - label: cURL
          lang: Shell
          source: curl https://gen.pollinations.ai/image/models
        - label: JavaScript
          lang: JavaScript
          source: >-
            const response = await
            fetch("https://gen.pollinations.ai/image/models");

            const models = await response.json();

            models.forEach((m) => console.log(`${m.id}: ${m.description}`));
  /text/models:
    get:
      operationId: getGenerateTextModels
      tags:
        - 🤖 Models
      summary: List Text Models (Detailed)
      description: Returns all available text generation models with pricing,
        capabilities, and metadata including context window size, supported
        modalities, and tool support.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items: {}
                description: List of models with pricing and metadata
        "500":
          description: Oh snap, something went wrong on our end. We're on it!
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    const: 500
                  success:
                    type: boolean
                    const: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        const: INTERNAL_ERROR
                      message:
                        anyOf:
                          - type: string
                            const: Oh snap, something went wrong on our end. We're on it!
                          - type: string
                      timestamp:
                        type: string
                      details:
                        $ref: "#/components/schemas/ErrorDetails"
                      requestId:
                        type: string
                      cause: {}
                    required:
                      - code
                      - message
                      - timestamp
                      - details
                required:
                  - status
                  - success
                  - error
      x-codeSamples:
        - label: cURL
          lang: Shell
          source: curl https://gen.pollinations.ai/text/models
        - label: JavaScript
          lang: JavaScript
          source: >-
            const response = await
            fetch("https://gen.pollinations.ai/text/models");

            const models = await response.json();

            models.forEach((m) => console.log(`${m.id}: ${m.description}`));
  /audio/models:
    get:
      operationId: getGenerateAudioModels
      tags:
        - 🤖 Models
      summary: List Audio Models
      description: Returns all available audio models (text-to-speech, music
        generation, and transcription) with pricing, capabilities, and metadata.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items: {}
                description: List of models with pricing and metadata
        "500":
          description: Oh snap, something went wrong on our end. We're on it!
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    const: 500
                  success:
                    type: boolean
                    const: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        const: INTERNAL_ERROR
                      message:
                        anyOf:
                          - type: string
                            const: Oh snap, something went wrong on our end. We're on it!
                          - type: string
                      timestamp:
                        type: string
                      details:
                        $ref: "#/components/schemas/ErrorDetails"
                      requestId:
                        type: string
                      cause: {}
                    required:
                      - code
                      - message
                      - timestamp
                      - details
                required:
                  - status
                  - success
                  - error
      x-codeSamples:
        - label: cURL
          lang: Shell
          source: curl https://gen.pollinations.ai/audio/models
        - label: JavaScript
          lang: JavaScript
          source: >-
            const response = await
            fetch("https://gen.pollinations.ai/audio/models");

            const models = await response.json();

            models.forEach((m) => console.log(`${m.id}: ${m.description}`));
  /v1/chat/completions:
    post:
      operationId: postGenerateV1ChatCompletions
      tags:
        - ✍️ Text Generation
      summary: Chat Completions
      description: >-
        Generate text responses using AI models. Fully compatible with the
        OpenAI Chat Completions API — use any OpenAI SDK by pointing it to
        `https://gen.pollinations.ai`.


        Supports streaming, function calling, vision (image input), structured
        outputs, and reasoning/thinking modes depending on the model.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  choices:
                    type: array
                    items:
                      type: object
                      properties:
                        finish_reason:
                          anyOf:
                            - type: string
                            - type: "null"
                        index:
                          type: integer
                          minimum: 0
                          maximum: 9007199254740991
                        message:
                          type: object
                          properties:
                            content:
                              anyOf:
                                - type: string
                                - type: "null"
                            tool_calls:
                              anyOf:
                                - type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        const: function
                                      function:
                                        type: object
                                        properties:
                                          name:
                                            type: string
                                          arguments:
                                            type: string
                                        required:
                                          - name
                                          - arguments
                                    required:
                                      - id
                                      - type
                                      - function
                                - type: "null"
                            role:
                              type: string
                              const: assistant
                            function_call:
                              anyOf:
                                - type: object
                                  properties:
                                    arguments:
                                      type: string
                                    name:
                                      type: string
                                  required:
                                    - arguments
                                    - name
                                - type: "null"
                            content_blocks:
                              anyOf:
                                - type: array
                                  items:
                                    anyOf:
                                      - type: object
                                        properties:
                                          type:
                                            type: string
                                            const: text
                                          text:
                                            type: string
                                          cache_control:
                                            $ref: "#/components/schemas/CacheControl"
                                        required:
                                          - type
                                          - text
                                      - type: object
                                        properties:
                                          type:
                                            type: string
                                            const: image_url
                                          image_url:
                                            type: object
                                            properties:
                                              url:
                                                type: string
                                              detail:
                                                type: string
                                                enum:
                                                  - auto
                                                  - low
                                                  - high
                                              mime_type:
                                                type: string
                                            required:
                                              - url
                                        required:
                                          - type
                                          - image_url
                                      - type: object
                                        properties:
                                          type:
                                            type: string
                                            const: thinking
                                          thinking:
                                            type: string
                                        required:
                                          - type
                                          - thinking
                                      - type: object
                                        properties:
                                          type:
                                            type: string
                                            const: redacted_thinking
                                          data:
                                            type: string
                                        required:
                                          - type
                                          - data
                                      - type: object
                                        properties:
                                          type:
                                            type: string
                                        required:
                                          - type
                                        additionalProperties: {}
                                - type: "null"
                            audio:
                              anyOf:
                                - type: object
                                  properties:
                                    transcript:
                                      type: string
                                    data:
                                      type: string
                                    id:
                                      type: string
                                    expires_at:
                                      type: integer
                                      minimum: -9007199254740991
                                      maximum: 9007199254740991
                                  required:
                                    - transcript
                                    - data
                                - type: "null"
                            reasoning_content:
                              anyOf:
                                - type: string
                                - type: "null"
                          required:
                            - role
                        logprobs:
                          anyOf:
                            - anyOf:
                                - type: object
                                  properties:
                                    content:
                                      anyOf:
                                        - type: array
                                          items:
                                            type: object
                                            properties:
                                              token:
                                                type: string
                                              logprob:
                                                type: number
                                              bytes:
                                                anyOf:
                                                  - type: array
                                                    items:
                                                      type: integer
                                                      minimum: -9007199254740991
                                                      maximum: 9007199254740991
                                                  - type: "null"
                                              top_logprobs:
                                                type: array
                                                items:
                                                  type: object
                                                  properties:
                                                    token:
                                                      type: string
                                                    logprob:
                                                      type: number
                                                    bytes:
                                                      anyOf:
                                                        - type: array
                                                          items:
                                                            type: integer
                                                            minimum: -9007199254740991
                                                            maximum: 9007199254740991
                                                        - type: "null"
                                                  required:
                                                    - token
                                                    - logprob
                                                    - bytes
                                            required:
                                              - token
                                              - logprob
                                              - bytes
                                              - top_logprobs
                                        - type: "null"
                                  required:
                                    - content
                                - type: "null"
                            - type: "null"
                        content_filter_results:
                          anyOf:
                            - $ref: "#/components/schemas/ContentFilterResult"
                            - type: "null"
                  prompt_filter_results:
                    anyOf:
                      - type: array
                        items:
                          type: object
                          properties:
                            prompt_index:
                              type: integer
                              minimum: 0
                              maximum: 9007199254740991
                            content_filter_results:
                              $ref: "#/components/schemas/ContentFilterResult"
                          required:
                            - prompt_index
                      - type: "null"
                  created:
                    type: integer
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  model:
                    type: string
                  system_fingerprint:
                    anyOf:
                      - type: string
                      - type: "null"
                  object:
                    type: string
                    const: chat.completion
                  usage:
                    $ref: "#/components/schemas/CompletionUsage"
                  user_tier:
                    type: string
                    enum:
                      - anonymous
                      - seed
                      - flower
                      - nectar
                  citations:
                    type: array
                    items:
                      type: string
                required:
                  - id
                  - choices
                  - created
                  - model
                  - object
                  - usage
              example:
                id: chatcmpl-abc123
                object: chat.completion
                created: 1700000000
                model: openai
                choices:
                  - index: 0
                    message:
                      role: assistant
                      content: Hello! How can I help you today?
                    finish_reason: stop
                usage:
                  prompt_tokens: 10
                  completion_tokens: 12
                  total_tokens: 22
        "400":
          description: Something was wrong with the input data, check the details for more
            info.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    const: 400
                  success:
                    type: boolean
                    const: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        const: BAD_REQUEST
                      message:
                        anyOf:
                          - type: string
                            const: Something was wrong with the input data, check the details for more info.
                          - type: string
                      timestamp:
                        type: string
                      details:
                        $ref: "#/components/schemas/ValidationErrorDetails"
                      requestId:
                        type: string
                      cause: {}
                    required:
                      - code
                      - message
                      - timestamp
                      - details
                required:
                  - status
                  - success
                  - error
        "401":
          description: Authentication required. Please provide an API key via
            Authorization header (Bearer token) or ?key= query parameter.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    const: 401
                  success:
                    type: boolean
                    const: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        const: UNAUTHORIZED
                      message:
                        anyOf:
                          - type: string
                            const: Authentication required. Please provide an API key via Authorization
                              header (Bearer token) or ?key= query parameter.
                          - type: string
                      timestamp:
                        type: string
                      details:
                        $ref: "#/components/schemas/ErrorDetails"
                      requestId:
                        type: string
                      cause: {}
                    required:
                      - code
                      - message
                      - timestamp
                      - details
                required:
                  - status
                  - success
                  - error
        "402":
          description: Insufficient pollen balance or API key budget exhausted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    const: 402
                  success:
                    type: boolean
                    const: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        const: PAYMENT_REQUIRED
                      message:
                        anyOf:
                          - type: string
                            const: Insufficient pollen balance or API key budget exhausted.
                          - type: string
                      timestamp:
                        type: string
                      details:
                        $ref: "#/components/schemas/ErrorDetails"
                      requestId:
                        type: string
                      cause: {}
                    required:
                      - code
                      - message
                      - timestamp
                      - details
                required:
                  - status
                  - success
                  - error
        "403":
          description: Access denied! You don't have the required permissions for this
            resource or model.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    const: 403
                  success:
                    type: boolean
                    const: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        const: FORBIDDEN
                      message:
                        anyOf:
                          - type: string
                            const: Access denied! You don't have the required permissions for this resource
                              or model.
                          - type: string
                      timestamp:
                        type: string
                      details:
                        $ref: "#/components/schemas/ErrorDetails"
                      requestId:
                        type: string
                      cause: {}
                    required:
                      - code
                      - message
                      - timestamp
                      - details
                required:
                  - status
                  - success
                  - error
        "429":
          description: You're making requests too quickly. Please slow down a bit.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    const: 429
                  success:
                    type: boolean
                    const: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        const: RATE_LIMITED
                      message:
                        anyOf:
                          - type: string
                            const: You're making requests too quickly. Please slow down a bit.
                          - type: string
                      timestamp:
                        type: string
                      details:
                        $ref: "#/components/schemas/ErrorDetails"
                      requestId:
                        type: string
                      cause: {}
                    required:
                      - code
                      - message
                      - timestamp
                      - details
                required:
                  - status
                  - success
                  - error
        "500":
          description: Oh snap, something went wrong on our end. We're on it!
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    const: 500
                  success:
                    type: boolean
                    const: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        const: INTERNAL_ERROR
                      message:
                        anyOf:
                          - type: string
                            const: Oh snap, something went wrong on our end. We're on it!
                          - type: string
                      timestamp:
                        type: string
                      details:
                        $ref: "#/components/schemas/ErrorDetails"
                      requestId:
                        type: string
                      cause: {}
                    required:
                      - code
                      - message
                      - timestamp
                      - details
                required:
                  - status
                  - success
                  - error
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                messages:
                  type: array
                  items:
                    anyOf:
                      - type: object
                        properties:
                          content:
                            anyOf:
                              - type: string
                              - minItems: 1
                                type: array
                                items:
                                  $ref: "#/components/schemas/MessageContentPart"
                          role:
                            type: string
                            const: system
                          name:
                            type: string
                          cache_control:
                            $ref: "#/components/schemas/CacheControl"
                        required:
                          - content
                          - role
                      - type: object
                        properties:
                          content:
                            anyOf:
                              - type: string
                              - minItems: 1
                                type: array
                                items:
                                  $ref: "#/components/schemas/MessageContentPart"
                          role:
                            type: string
                            const: developer
                          name:
                            type: string
                          cache_control:
                            $ref: "#/components/schemas/CacheControl"
                        required:
                          - content
                          - role
                      - type: object
                        properties:
                          content:
                            anyOf:
                              - type: string
                              - minItems: 1
                                type: array
                                items:
                                  $ref: "#/components/schemas/MessageContentPart"
                          role:
                            type: string
                            const: user
                          name:
                            type: string
                        required:
                          - content
                          - role
                      - type: object
                        properties:
                          content:
                            anyOf:
                              - anyOf:
                                  - type: string
                                  - minItems: 1
                                    type: array
                                    items:
                                      $ref: "#/components/schemas/MessageContentPart"
                              - type: "null"
                          role:
                            type: string
                            const: assistant
                          name:
                            type: string
                          tool_calls:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                type:
                                  type: string
                                  const: function
                                function:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                    arguments:
                                      type: string
                                  required:
                                    - name
                                    - arguments
                              required:
                                - id
                                - type
                                - function
                          function_call:
                            anyOf:
                              - type: object
                                properties:
                                  arguments:
                                    type: string
                                  name:
                                    type: string
                                required:
                                  - arguments
                                  - name
                              - type: "null"
                          cache_control:
                            $ref: "#/components/schemas/CacheControl"
                        required:
                          - role
                      - type: object
                        properties:
                          role:
                            type: string
                            const: tool
                          content:
                            anyOf:
                              - anyOf:
                                  - type: string
                                  - minItems: 1
                                    type: array
                                    items:
                                      $ref: "#/components/schemas/MessageContentPart"
                              - type: "null"
                          tool_call_id:
                            type: string
                          cache_control:
                            $ref: "#/components/schemas/CacheControl"
                        required:
                          - role
                          - content
                          - tool_call_id
                      - type: object
                        properties:
                          role:
                            type: string
                            const: function
                          content:
                            anyOf:
                              - type: string
                              - type: "null"
                          name:
                            type: string
                        required:
                          - role
                          - content
                          - name
                model:
                  default: openai
                  description: AI model for text generation. See /v1/models for full list.
                  type: string
                modalities:
                  type: array
                  items:
                    type: string
                    enum:
                      - text
                      - audio
                audio:
                  type: object
                  properties:
                    voice:
                      type: string
                      enum:
                        - alloy
                        - echo
                        - fable
                        - onyx
                        - shimmer
                        - coral
                        - verse
                        - ballad
                        - ash
                        - sage
                        - amuch
                        - dan
                    format:
                      type: string
                      enum:
                        - wav
                        - mp3
                        - flac
                        - opus
                        - pcm16
                  required:
                    - voice
                    - format
                frequency_penalty:
                  default: 0
                  anyOf:
                    - type: number
                      minimum: -2
                      maximum: 2
                    - type: "null"
                repetition_penalty:
                  anyOf:
                    - type: number
                      minimum: 0
                      maximum: 2
                    - type: "null"
                logit_bias:
                  default: null
                  anyOf:
                    - type: object
                      propertyNames:
                        type: string
                      additionalProperties:
                        type: integer
                        minimum: -9007199254740991
                        maximum: 9007199254740991
                    - type: "null"
                logprobs:
                  default: false
                  anyOf:
                    - type: boolean
                    - type: "null"
                top_logprobs:
                  anyOf:
                    - type: integer
                      minimum: 0
                      maximum: 20
                    - type: "null"
                max_tokens:
                  anyOf:
                    - type: integer
                      minimum: 0
                      maximum: 9007199254740991
                    - type: "null"
                presence_penalty:
                  default: 0
                  anyOf:
                    - type: number
                      minimum: -2
                      maximum: 2
                    - type: "null"
                response_format:
                  anyOf:
                    - type: object
                      properties:
                        type:
                          type: string
                          const: text
                      required:
                        - type
                    - type: object
                      properties:
                        type:
                          type: string
                          const: json_schema
                        json_schema:
                          type: object
                          properties:
                            description:
                              type: string
                            name:
                              type: string
                            schema:
                              type: object
                              propertyNames:
                                type: string
                              additionalProperties: {}
                            strict:
                              default: false
                              anyOf:
                                - type: boolean
                                - type: "null"
                          required:
                            - schema
                      required:
                        - type
                        - json_schema
                    - type: object
                      properties:
                        type:
                          type: string
                          const: json_object
                      required:
                        - type
                seed:
                  anyOf:
                    - type: integer
                      minimum: -1
                      maximum: 9007199254740991
                    - type: "null"
                stop:
                  anyOf:
                    - anyOf:
                        - type: string
                        - type: "null"
                    - minItems: 1
                      maxItems: 4
                      type: array
                      items:
                        type: string
                stream:
                  default: false
                  anyOf:
                    - type: boolean
                    - type: "null"
                stream_options:
                  anyOf:
                    - type: object
                      properties:
                        include_usage:
                          type: boolean
                    - type: "null"
                thinking:
                  anyOf:
                    - type: object
                      properties:
                        type:
                          default: disabled
                          type: string
                          enum:
                            - enabled
                            - disabled
                        budget_tokens:
                          type: integer
                          minimum: 1
                          maximum: 9007199254740991
                    - type: "null"
                reasoning_effort:
                  type: string
                  enum:
                    - none
                    - minimal
                    - low
                    - medium
                    - high
                    - xhigh
                thinking_budget:
                  type: integer
                  minimum: 0
                  maximum: 9007199254740991
                temperature:
                  default: 1
                  anyOf:
                    - type: number
                      minimum: 0
                      maximum: 2
                    - type: "null"
                top_p:
                  default: 1
                  anyOf:
                    - type: number
                      minimum: 0
                      maximum: 1
                    - type: "null"
                tools:
                  type: array
                  items:
                    anyOf:
                      - type: object
                        properties:
                          type:
                            type: string
                            const: function
                          function:
                            type: object
                            properties:
                              description:
                                type: string
                              name:
                                type: string
                              parameters:
                                type: object
                                propertyNames:
                                  type: string
                                additionalProperties: {}
                              strict:
                                default: false
                                anyOf:
                                  - type: boolean
                                  - type: "null"
                            required:
                              - name
                        required:
                          - type
                          - function
                      - type: object
                        properties:
                          type:
                            type: string
                            enum:
                              - code_execution
                              - google_search
                              - google_maps
                              - url_context
                              - computer_use
                              - file_search
                        required:
                          - type
                tool_choice:
                  anyOf:
                    - type: string
                      enum:
                        - none
                        - auto
                        - required
                    - type: object
                      properties:
                        type:
                          type: string
                          const: function
                        function:
                          type: object
                          properties:
                            name:
                              type: string
                          required:
                            - name
                      required:
                        - type
                        - function
                parallel_tool_calls:
                  default: true
                  type: boolean
                user:
                  type: string
                function_call:
                  anyOf:
                    - type: string
                      enum:
                        - none
                        - auto
                    - type: object
                      properties:
                        name:
                          type: string
                      required:
                        - name
                functions:
                  minItems: 1
                  maxItems: 128
                  type: array
                  items:
                    type: object
                    properties:
                      description:
                        type: string
                      name:
                        type: string
                      parameters:
                        type: object
                        propertyNames:
                          type: string
                        additionalProperties: {}
                    required:
                      - name
                    additionalProperties: false
              required:
                - messages
      x-codeSamples:
        - label: cURL
          lang: Shell
          source: |-
            curl https://gen.pollinations.ai/v1/chat/completions \
              -H "Authorization: Bearer YOUR_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                "model": "openai",
                "messages": [{"role": "user", "content": "Hello!"}]
              }'
        - label: Python
          lang: Python
          source: |-
            from openai import OpenAI

            client = OpenAI(
                base_url="https://gen.pollinations.ai",
                api_key="YOUR_API_KEY"
            )

            response = client.chat.completions.create(
                model="openai",
                messages=[{"role": "user", "content": "Hello!"}]
            )
            print(response.choices[0].message.content)
        - label: JavaScript
          lang: JavaScript
          source: |-
            import OpenAI from "openai";

            const client = new OpenAI({
              baseURL: "https://gen.pollinations.ai",
              apiKey: "YOUR_API_KEY",
            });

            const response = await client.chat.completions.create({
              model: "openai",
              messages: [{ role: "user", content: "Hello!" }],
            });
            console.log(response.choices[0].message.content);
  /text/{prompt}:
    get:
      operationId: getGenerateTextByPrompt
      tags:
        - ✍️ Text Generation
      summary: Simple Text Generation
      description: >-
        Generate text from a prompt via a simple GET request. Returns plain
        text.


        This is a simplified alternative to the OpenAI-compatible
        `/v1/chat/completions` endpoint — ideal for quick prototyping or simple
        integrations.
      responses:
        "200":
          description: Generated text response
          content:
            text/plain:
              schema:
                type: string
        "400":
          description: Something was wrong with the input data, check the details for more
            info.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    const: 400
                  success:
                    type: boolean
                    const: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        const: BAD_REQUEST
                      message:
                        anyOf:
                          - type: string
                            const: Something was wrong with the input data, check the details for more info.
                          - type: string
                      timestamp:
                        type: string
                      details:
                        $ref: "#/components/schemas/ValidationErrorDetails"
                      requestId:
                        type: string
                      cause: {}
                    required:
                      - code
                      - message
                      - timestamp
                      - details
                required:
                  - status
                  - success
                  - error
        "401":
          description: Authentication required. Please provide an API key via
            Authorization header (Bearer token) or ?key= query parameter.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    const: 401
                  success:
                    type: boolean
                    const: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        const: UNAUTHORIZED
                      message:
                        anyOf:
                          - type: string
                            const: Authentication required. Please provide an API key via Authorization
                              header (Bearer token) or ?key= query parameter.
                          - type: string
                      timestamp:
                        type: string
                      details:
                        $ref: "#/components/schemas/ErrorDetails"
                      requestId:
                        type: string
                      cause: {}
                    required:
                      - code
                      - message
                      - timestamp
                      - details
                required:
                  - status
                  - success
                  - error
        "402":
          description: Insufficient pollen balance or API key budget exhausted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    const: 402
                  success:
                    type: boolean
                    const: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        const: PAYMENT_REQUIRED
                      message:
                        anyOf:
                          - type: string
                            const: Insufficient pollen balance or API key budget exhausted.
                          - type: string
                      timestamp:
                        type: string
                      details:
                        $ref: "#/components/schemas/ErrorDetails"
                      requestId:
                        type: string
                      cause: {}
                    required:
                      - code
                      - message
                      - timestamp
                      - details
                required:
                  - status
                  - success
                  - error
        "403":
          description: Access denied! You don't have the required permissions for this
            resource or model.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    const: 403
                  success:
                    type: boolean
                    const: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        const: FORBIDDEN
                      message:
                        anyOf:
                          - type: string
                            const: Access denied! You don't have the required permissions for this resource
                              or model.
                          - type: string
                      timestamp:
                        type: string
                      details:
                        $ref: "#/components/schemas/ErrorDetails"
                      requestId:
                        type: string
                      cause: {}
                    required:
                      - code
                      - message
                      - timestamp
                      - details
                required:
                  - status
                  - success
                  - error
        "429":
          description: You're making requests too quickly. Please slow down a bit.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    const: 429
                  success:
                    type: boolean
                    const: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        const: RATE_LIMITED
                      message:
                        anyOf:
                          - type: string
                            const: You're making requests too quickly. Please slow down a bit.
                          - type: string
                      timestamp:
                        type: string
                      details:
                        $ref: "#/components/schemas/ErrorDetails"
                      requestId:
                        type: string
                      cause: {}
                    required:
                      - code
                      - message
                      - timestamp
                      - details
                required:
                  - status
                  - success
                  - error
        "500":
          description: Oh snap, something went wrong on our end. We're on it!
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    const: 500
                  success:
                    type: boolean
                    const: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        const: INTERNAL_ERROR
                      message:
                        anyOf:
                          - type: string
                            const: Oh snap, something went wrong on our end. We're on it!
                          - type: string
                      timestamp:
                        type: string
                      details:
                        $ref: "#/components/schemas/ErrorDetails"
                      requestId:
                        type: string
                      cause: {}
                    required:
                      - code
                      - message
                      - timestamp
                      - details
                required:
                  - status
                  - success
                  - error
      parameters:
        - in: path
          name: prompt
          schema:
            type: string
            minLength: 1
            example: Write a haiku about coding
[...]
